@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@model IPagedList<ConstViewModel>
@{
    ViewData["Title"] = "Const";
    ViewData["Page"] = "Const";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lí Admin</h4>
                <div class="table-toolbar">
                    <div>
                        <div style="float:left;">
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#CreateModal">
                                Thêm mới
                            </button>
                        </div>
                        <div style="float:right;">
                            @using (Html.BeginForm("Index", "Const", FormMethod.Post))
                            {
                                <input type="text" id="searchString" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.searchString" class="form-control" style="width: auto; display: inline-block" />
                                <button type="submit" id="btnTimKiem" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Loại</th>
                            <th>Giá trị</th>
                            <th>Tên hiển thị</th>
                            <th width="150">Chỉnh sửa</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Type</td>
                                <td>@item.Value</td>
                                <td>@item.DisplayValue</td>
                                <td>
                                    <a href="#" class="btn btn-primary edit-admin" data-id="@item.Id">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="Const" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger delete_const">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @(Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            UlElementClasses = new string[] { "pagination rounded-flat pagination-success" }
                        }))
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Hằng số</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Const", FormMethod.Post, new { id = "create-const-form" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Type">Loại</label>
                        <input class="form-control" type="text" id="Type" name="Type"
                               placeholder="Loại">
                        <span id="validate_Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Value">Giá trị</label>
                        <input class="form-control" type="text" id="Value" name="Value"
                               placeholder="Giá trị">
                        <span id="validate_Value" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="DisplayValue">hiển thị</label>
                        <input type="text" class="form-control" id="DisplayValue" name="DisplayValue" placeholder="hiển thị">
                        <span id="validate_DisplayValue" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.delete_const').click(function (e) {
                var result = confirm("Want to delete?");
                if (!result) {
                    e.preventDefault();
                }
            });

            $("#create-const-form").submit(() => {
                $("#validate_Type").html("");
                $("#validate_Value").html("");
                $("#validate_DisplayValue").html("");

                let valid = true;
                let type = $("#Type").val();
                let value = $("#Value").val();
                let displayValue = $("#DisplayValue").val();

                if (type == "") {
                    $("#validate_Type").html("Loại không hợp lệ!");
                    valid = false;
                }

                if (value == "") {
                    $("#validate_Value").html("Giá trị không hợp lệ!");
                    valid = false;
                }

                if (displayValue == "") {
                    $("#validate_DisplayValue").html("Tên hiển thị không hợp lệ!");
                    valid = false;
                }

                return valid;
            });
        });
    </script>
}