@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@model IPagedList<AdminViewModel>
@{
    ViewData["Title"] = "Admin";
    ViewData["Page"] = "Admin";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lí Admin</h4>
                <div class="table-toolbar">
                    <div>
                        <div style="float:left;">
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#CreateModal">
                                Thêm mới
                            </button>
                        </div>
                        <div style="float:right;">
                            @using (Html.BeginForm("Index", "Admins", FormMethod.Post))
                            {
                                <input type="text" id="searchString" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.searchString" class="form-control" style="width: auto; display: inline-block" />
                                <button type="submit" id="btnTimKiem" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            @*<th>Mã admin</th>*@
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Quản lí Nhà Xe</th>
                            <th>Root Nhà Xe</th>
                            <th width="150">Chỉnh sửa</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>@item.Id</td>*@
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@string.Join(", ", item.AgentName)</td>
                                <td>@string.Join(", ", item.RootAgent)</td>
                                <td>
                                    <a href="#" class="btn btn-primary edit-admin" data-id="@item.Id">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger delete_admin">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @(Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            UlElementClasses = new string[] { "pagination rounded-flat pagination-success" }
                        }))
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { id = "create-admins-form" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>UserName</label>
                        <input class="form-control" type="text" id="UserName" name="UserName"
                               placeholder="UserName">
                        <span id="validate_UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>PassWord</label>
                        <input class="form-control" type="text" id="Password" name="Password"
                               placeholder="Password">
                        <span id="validate_Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
                        <span id="validate_Email" class="text-danger"></span>
                    </div>
                    <div id="display-agents">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info choose_agent">Chọn nhà xe</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="text" id="Admins_Edit" name="Id" hidden />
                    <input type="text" id="Status" name="Status" hidden />
                    <input type="text" id="Admins_MatKhau" name="Password" hidden />
                    <div class="form-group">
                        <label for="TenXe">UserName</label>
                        <input class="form-control" type="text" id="UserName_Edit" name="UserName"
                               placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <label for="BienSoXe">Email</label>
                        <input type="text" class="form-control" id="Email_Edit" name="Email" placeholder="Họ tên">
                    </div>
                    <div class="form-group">
                        <label>Quản lí nhà xe</label>
                        <input type="text" class="form-control" id="Agent_Admin" readonly>
                        <br />
                        <label>Root nhà xe</label>
                        <input type="text" class="form-control" id="Agent_Root" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="AgentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn nhà xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="select-agent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="select-agent-ok">OK</button>
            </div>
        </div>
    </div>
</div>
<!--END Modal -->

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".choose_agent").click(function (e) {
                $("#CreateModal").modal("hide");
                $("#select-agent").load("/Admin/LoadPartialSelectAgent");
                $("#AgentModel").modal("show");
            });

            $("#select-agent-ok").on("click", (e) => {
                //let mode = $("input[name='agent-mode']").val();
                let mode = $(".mode-select-agent").val();
                console.log(mode);
                if (mode == 1) {
                    let selectedItems = [];
                    let htmlDisplay = "";
                    $("input[name='is-selected']").each((i, item) => {
                        let self = $(item);
                        if (self.is(':checked')) {
                            let parent = self.closest('tr');
                            let selectedItem = {
                                id: parent.data('id'),
                                name: parent.find('td.agent-name').html(),
                                isRoot: parent.find('input.is-root').is(':checked')
                            };
                            selectedItems.push(selectedItem);
                            htmlDisplay += `<div>${selectedItem.name}</div><input name="AgentId" type="hidden" value="${selectedItem.id}" />`;
                            if (selectedItem.isRoot) {
                                htmlDisplay += `<input name="IsRoot" type="hidden" value="${selectedItem.id}" />`;
                            }

                            $("#AgentModel").modal("hide");
                            $("#CreateModal").modal("show");
                        }
                    });

                    $('#display-agents').html(htmlDisplay);
                } else {
                    let htmlDisplay = "";
                    e.preventDefault();
                    $.post('/Admin/SpecifyAgent', $('form').serialize(), function (data) {
                        console.log(data);

                        htmlDisplay += `<div>${data.agentNew.agentName}</div><input name="AgentId" type="hidden" value="${data.agentNew.id}" />`;
                        if (data.isRoot) {
                            htmlDisplay += `<input name="IsRoot" type="hidden" value="${data.agentNew.id}" />`;
                        }
                        $("#AgentModel").modal("hide");
                        $("#CreateModal").modal("show");
                        $('#display-agents').html(htmlDisplay);
                    });
                }
            });

            $(".edit-admin").click(function (e) {
                $.ajax({
                    url: "/Admin/Edit",
                    data: {
                        id: $(e.target).data("id")
                    },
                    type: "GET",
                    contentType: "json",
                    success: function (data) {
                        console.log(data);

                        $("#Admins_Edit").val(data.id);
                        $("#UserName_Edit").val(data.userName);
                        $("#Email_Edit").val(data.email);
                        $("#Admins_MatKhau").val(data.password);

                        var textAgentName = "";
                        var textAgentRoot = ""
                        for (var i = 0; i < data.agentName.length; i++) {
                            if (i == data.agentName.length-1) {
                                textAgentName += data.agentName[i];
                            }
                            else {
                                textAgentName += data.agentName[i] + ",";
                            }
                        }

                        for (var y = 0; y < data.rootAgent.length; y++) {
                            if (y == data.rootAgent.length - 1) {
                                textAgentRoot += data.rootAgent[y];
                            }
                            else {
                                textAgentRoot += data.rootAgent[y] + ",";
                            }
                        }
                        $("#Agent_Admin").val(textAgentName);
                        $("#Agent_Root").val(textAgentRoot);

                        $("#EditModal").modal("show");
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });

            $('.delete_admin').click(function (e) {
                var result = confirm("Want to delete?");
                if (!result) {
                    e.preventDefault();
                }
            });

            $("#create-admins-form").submit(() => {
                $("#validate_UserName").html("");
                $("#validate_Password").html("");
                $("#validate_Email").html("");

                let valid = true;
                let username = $("#UserName").val();
                let matkhau = $("#Password").val();
                let email = $("#Email").val();

                if (username == "") {
                    $("#validate_UserName").html("Username không hợp lệ!");
                    valid = false;
                }

                if (matkhau == "") {
                    $("#validate_Password").html("Password không hợp lệ!");
                    valid = false;
                }

                if (email == "") {
                    $("#validate_Email").html("Email không hợp lệ!");
                    valid = false;
                }

                return valid;
            });
        });
    </script>
}