<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link href="~/css/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/js/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/misc.js"></script>
    @RenderSection("Styles", required: false)

    <script src="~/js/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/moment/min/moment.min.js"></script>
    <script src="~/css/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyA7nxo_ppjGjnbmMea66c9A7OafsFgkV1U"></script>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/Admin/DashBoard"><img src="~/image/admin.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/Admin/DashBoard"><img src="~/image/admin.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                    <i class="mdi mdi-menu"></i>
                </button>
                <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                    <li class="nav-item  nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                            <img src="~/image/faces-clipart/pic-1.png" />
                            <span class="profile-name">@Context.Request.Cookies["UserName"]</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">
                                <i class="mdi mdi-cached mr-2 text-success"></i>
                                Change PassWord
                            </a>
                            <a class="dropdown-item confirm_logout" href="/Dashboard/logout">
                                <i class="mdi mdi-logout mr-2 text-primary"></i>
                                Signout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item @((string)ViewData["Page"] == "DashBoard" ? "active" : "")">
                        <a class="nav-link" href="/Admin/DashBoard/Index">
                            <i class="mdi mdi-compass-outline menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    @if (Context.Request.Cookies["AdminType"] == "0")
                    {
                        <li class="nav-item @((string)ViewData["Page"] == "Admin" ? "active" : "")">
                            <a class="nav-link" href="/Admin/Index">
                                <i class="mdi mdi-lock-outline menu-icon"></i>
                                <span class="menu-title">Admin</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item @((string)ViewData["Page"] == "NguoiDung" ? "active" : "")">
                        <a class="nav-link" href="/NguoiDung/Index">
                            <i class="mdi mdi-account-search menu-icon"></i>
                            <span class="menu-title">Người dùng</span>
                        </a>
                    </li>
                    @*<li class="nav-item @((string)ViewData["Page"] == "DatVe" ? "active" : "")">
                            <a class="nav-link active" href="/Admin/ThongTinDatVe/Index">
                                <i class="mdi mdi-file-document-box menu-icon"></i>
                                <span class="menu-title">Thông tin đặt vé</span>
                            </a>
                        </li>*@
                    <li class="nav-item @((string)ViewData["Page"] == "Route" ? "active" : "")">
                        <a class="nav-link" href="/Route/Index">
                            <i class="mdi mdi-speedometer menu-icon"></i>
                            <span class="menu-title">Điều hành</span>
                        </a>
                    </li>
                    <li class="nav-item @((string)ViewData["Page"] == "Agent" ? "active" : "")">
                        <a class="nav-link" href="/Agent/Index">
                            <i class="mdi mdi-store menu-icon"></i>
                            <span class="menu-title">Nhà xe</span>
                        </a>
                    </li>
                    <li class="nav-item @((string)ViewData["Page"] == "Vehicle" ? "active" : "")">
                        <a class="nav-link" href="/Vehicle/Index">
                            <i class="mdi mdi-car menu-icon"></i>
                            <span class="menu-title">Xe</span>
                        </a>
                    </li>
                    <li class="nav-item @((string)ViewData["Page"] == "Location" ? "active" : "")">
                        <a class="nav-link" href="/Location/Index">
                            <i class="mdi mdi-map-marker menu-icon"></i>
                            <span class="menu-title">Location</span>
                        </a>
                    </li>
                    <li class="nav-item @((string)ViewData["Page"] == "Const" ? "active" : "")">
                        <a class="nav-link" href="/Const/Index">
                            <i class="mdi mdi-format-list-numbers menu-icon"></i>
                            <span class="menu-title">Hằng số</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2018 <a href="#">Bootstrapdash</a>. All rights reserved.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made
                            with <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>

            <!-- main-panel ends -->
        </div>
    </div>

    <div class="modal fade" id="ChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post, new { id = "change-pass-form" }))
                {
                    @Html.AntiForgeryToken()
                    <span id="summary-validate" class="text-center text-danger"></span>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputName1">Mật khẩu cũ</label>
                            <input type="text" class="form-control" id="password_old" name="password_old">
                            <span id="validate_pass_old" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Mật khẩu mới</label>
                            <input type="text" class="form-control" id="password_new" name="password_new">
                            <span id="validate_pass_new" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Xác nhận mật khẩu</label>
                            <input type="text" class="form-control" id="password_confirm" name="password_confirm">
                            <span id="validate_pass_confirm" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.confirm_logout').click(function (e) {
                var result = confirm("Want to Logout?");
                if (!result) {
                    e.preventDefault();
                }
            });

            $("#change-pass-form").submit((e) => {
                e.preventDefault();
                $("#validate_pass_old").html("");
                $("#validate_pass_new").html("");
                $("#validate_pass_confirm").html("");
                $("#summary-validate").html("");

                let valid = true;
                let pass = $("#password_old").val()
                if (pass == "") {
                    $("#validate_pass_old").html("Mat khau khong hop le");
                    valid = false;
                }

                let newPass = $("#password_new").val();
                if (newPass == "") {
                    $("#validate_pass_new").html("Mat khau moi khong hop le");
                    valid = false;
                } else {
                    let reNewPass = $("#password_confirm").val();
                    if (reNewPass != newPass) {
                        $("#validate_pass_confirm").html("Mat khau khong khop");
                        valid = false;
                    }
                }

                if (valid) {
                    $.ajax({
                        url: "Dashboard/ChangePassword",
                        data: {
                            passold: $("#password_old").val(),
                            passnew: $("#password_new").val()
                        },
                        type: "Get",
                        contentType: "json",
                        success: function (data) {
                            if (data.status == 200) {
                                $("#validate_pass_old").html("Mat khau khong hop le");
                            }
                            else if (data.status == 401) {
                                $("#summary-validate").html("Da xay ra loi he thong");
                            }
                            else {
                                alert("Doi mat khau thanh cong");
                                location.reload();
                            }
                        },
                        error: function (response) {
                            console.log(response)
                        }
                    });
                }

                return valid;
            });
        });
    </script>
    @RenderSection("scripts", required: false);
</body>
</html>