@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@model IPagedList<LocationViewModel>
@{
    ViewData["Title"] = "Location";
    ViewData["Page"] = "Location";
}

<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Location</h4>
                @using (Html.BeginForm("Create", "Location", FormMethod.Post, new { id = "create-location-form" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="Address" id="Address" class="form-control" />
                            <input type="text" hidden name="CoordLatitude" id="CoordLatitude" />
                            <input type="text" hidden name="CoordLongtitude" id="CoordLongtitude" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                }
                <div class="table-toolbar">
                    <div>
                        <div style="float:left;">
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#CreateModal">
                                Thêm mới
                            </button>
                        </div>
                        <div style="float:right;">
                            @using (Html.BeginForm("Index", "Admins", FormMethod.Post))
                            {
                                <input type="text" id="searchString" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.searchString" class="form-control" style="width: auto; display: inline-block" />
                                <button type="submit" id="btnTimKiem" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Address</th>
                            <th>Vĩ Độ</th>
                            <th>Kinh Độ</th>
                            <th>Timestamp</th>
                            <th width="85">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Address</td>
                                <td>@item.CoordLatitude</td>
                                <td>@item.CoordLongtitude</td>
                                <td>@item.Timestamp.Date</td>
                                <td>
                                    <a asp-controller="Location" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger delete_location">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="float:right;padding-top: 25px;">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @(Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            UlElementClasses = new string[] { "pagination rounded-flat pagination-success" }
                        }))
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- Create modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Location", FormMethod.Post, new { id = "create-location-form" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label >Address</label>
                        <input type="text" name="Address" id="Address" class="form-control" />
                        <input type="text" hidden name="CoordLatitude" id="CoordLatitude" />
                        <input type="text" hidden name="CoordLongtitude" id="CoordLongtitude" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {          
            $('.delete_location').click(function (e) {
                var result = confirm("Want to delete?");
                if (!result) {
                    e.preventDefault();
                }
            });
            
            autocompleteLocation = new google.maps.places.Autocomplete((document.getElementById('Address')), {
                types: ['geocode','establishment'],
                //types: ['(cities)'],
                componentRestrictions: { country: "vn" }
            });

            google.maps.event.addListener(autocompleteLocation, 'place_changed', function () {
                var palce = autocompleteLocation.getPlace();
                document.getElementById('CoordLatitude').value = palce.geometry.location.lat();
                document.getElementById('CoordLongtitude').value = palce.geometry.location.lng();
            });
        });

    </script>
}